---
layout: general.njk
title: about me
pagination:
    data: home
    size: 1
    alias: localizer
permalink: /{{localizer.lang}}/about/index.html
lang: {{localizer.lang}}
---

<div class="container m-auto text-black dark:text-white">
    <div class="mt-[100px] p-4">
        <h1 class="font-bold mb-3 text-[40px] text-center">Its All About Me</h1>
        <div>
            <h2 class="font-bold mb-3 text-[30px]">About</h2>
            <p class="mb-2">
                Hello and welcome to my little corner of the internet, my name is Chris and I am a senior software engineer working for DowJones using frontend and backend technologies.
                I enjoy learning new things within the web space like languages and frameworks that will help be become and better and more effective developer.
                I currently works as a full stack engineer at senior level this meaning that I can pick up front end work to make fun and interactive interfaces, backend work to enable data collection and 
                processing and infastructe which includes the setting up of services such as databases &amp; function apps like those hosted on Microsoft Azure.
            </p>
        </div>
        <div>
            <h2 class="font-bold mb-3 text-[30px]">Hobbies &amp; Interests</h2>
            <p class="mb-2">
                I am a huge movie buff. I enjoy relaxing and putting on a good movie even if i've seen it a thousand times. Whilst I do enjoy a good action flick I really get into thriller movies
                the ones that are not just action packed but also have a deeper or complex meaning to the story.
            </p>
            <p class="mb-2">
                I am also into playing video games and table top games. I would say my current favroute video games has to be Elden Ring, Playing in co-op I have managed to 100% the games by obtaining all of the 
                achievements, I have also played the Elden Ring DLC which dials up the difficulty for me. I enjoy playing Magic The Gathering (MTG) a popular table top trading card game, my favroute format to play is
                Commander where you can build a 100 card deck around a legendary creature, whilst this format is longer the deck and be filled with many tactics
            <p/>
        </div>
    </div>
</div>
