---
layout: base.njk
title: about me
---

<div class="container m-auto">
    <h1>Its All About Me</h1>
    <div>
        <p>Hello and welcome to my little corner of the internet, Im an a senior software engineer</p>
    </div>
</div>
