---
layout: base.njk
title: chriseadie.com
---

<script>
   function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
        return null
    }
    var currentLang = getCookie("lang")
    if(currentLang == null){
        document.cookie = "lang=en;path=/";
        window.location.href = "/en/"
    } else {
        window.location.href = `/${currentLang}/`
    }
</script>

{# <section class="flex justify-center items-center h-full w-full">

    <div class="flex flex-wrap">
        <div>
            <div class="flex">
                <a href="">
                    <div id="sq-1" class="bg-[#FAF6E9] dark:bg-[#262626] p-4 dark:text-white rounded-2xl w-120 h-60 flex items-center justify-center">
                        <h2 class="text-5xl text-wrap">
                            Blog
                        </h2>
                    </div>
                </a>
                <div id="sq-1" class="bg-[url(/public/imgs/hiking.jpg)] bg-center bg-cover rounded-2xl w-60 h-60 ml-4"></div>
            </div>
            <div>
                <a href="/about">
                    <div id="sq-1" class="bg-[#DDEB9D] dark:bg-[#262626] dark:text-white rounded-2xl w-184 h-120 mt-4 p-4 flex flex-col justify-center">
                        <p class="text-[50px]">My name is Chris Eadie,</p>
                        <p class="text-[35px]">I'm a software engineer working and living in Glasgow</p>
                        <small class="text-[20px]">I am skilled in many programming languages &amp; frameworks and have an keen interest in building complex system</small>
                    </div>
                </a>
            </div>
        </div>
        <div class="ml-4">
            <div id="sq-1" class="bg-[#A0C878] dark:bg-[#262626] rounded-2xl w-60 h-120"></div>
            <div id="sq-1" class="bg-[#FAF6E9] dark:bg-[#262626] rounded-2xl w-60 h-60 mt-4"></div>
        </div>
        <div class="ml-4">
            <div class="flex">
                <div id="sq-1" class="bg-[#DDEB9D] dark:bg-[#262626] rounded-2xl w-60 h-120"></div>
                <div class="ml-4">
                    <a href="https://links.chriseadie.com">
                        <div id="sq-1" class="bg-[#A0C878] dark:bg-[#262626] dark:text-white  rounded-2xl w-60 h-58 flex items-center justify-center">
                            <h2 class="text-4xl text-wrap">
                                Socials
                            </h2>
                        </div>
                    </a>
                    <div id="sq-1" class="bg-[url(/public/imgs/castle-on-loch.jpg)] bg-center bg-cover rounded-2xl w-60 h-58 mt-4"></div>
                </div>
            </div>
            <div class=" mt-4">
                <a href="/contact">
                    <div id="sq-1" class="bg-[#DDEB9D] dark:bg-[#262626] dark:text-white rounded-2xl w-124 h-60 flex items-center justify-center p-4">
                        <h2 class="text-4xl text-wrap">
                            Got a project in mind?
                        </h2>
                    </div>
                </a>
            </div>

        </div>
    </div>

</section> #}