---
layout: base.njk
title: My Work
pagination:
    data: home
    size: 1
    alias: localizer
permalink: /{{localizer.lang}}/work/index.html
lang: {{localizer.lang}}
---

<section class="flex justify-center items-center flex-col h-full w-full text-black">

    <h1 class="text-[100px] font-bold">UNDER CONSTRUCTION 🚧</h1>
   <p>This is where I will showcase all the stuff i've done just need to build it</p>

</section>